<% layout("/layouts/boilerplate.ejs") %>
<body>
    <br/><br/>
    <div class="row">
        <div class="col-8 offset-2">
    <h2>Create a New Listing</h2><br/>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
            <div class="valid-feedback">
                Looks good!</div>
        </div>
        
        <br/>
        <div class="mb-3">
            <lable for="description" class="form-label">Description</lable>
            <textarea name="listing[description]" type="text" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        
        <br/>
        <div class="mb-3">
            <lable for="category" class="form-label">Category</lable>
            <select class="form-control" name="listing[category]" required>
                <option value='Trending'>Trending</option>
                <option value='Mountains'>Mountains</option>
                <option value='Farms'>Farms</option>
                <option value='Rooms'>Rooms</option>
                <option value='Castles'>Castles</option>
                <option value='Cities'>Cities</option>
                <option value='Beach'>Beach</option>
                <option value='Arctic'>Arctic</option>
                <option value='Camping'>Camping</option>
                <option value='Amazing Pools'>Amazing Pools</option>
            </select>
        </div>

        <br/>
        <div class="mb-3">
            <lable for="image" class="form-label">Upload Listing image </lable>
            <input name="listing[image]"type="file" class="form-control" required>
        </div>

        <br/>
        <div class="row">
        <div class="mb-3 col-md-4">
            <lable for="price" class="form-label">Price</lable>
            <input name="listing[price]" placeholder="1200" type="number" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid price</div>
        </div>
        
        <br/>
        <div class="mb-3 col-md-8">
            <lable for="location" class="form-label">Location</lable>
            <input name="listing[location]" placeholder="Jaipur, Rajasthan" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid location</div>
        </div>           
    </div>
        <br/>
        <div class="mb-3">
            <lable for="country" class="form-label">Country</lable>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid country name</div>
        </div>
        
        <br/>
        <button class="btn btn-dark add-btn">Add</button>
        <br/><br/>
    </form>
</div>
</div>
</body>